<main class="ui basic segment">
    <body id="welcome_body">
    <div id="welcome_banner" class="ui container segment">
        <img class="ui centered image" src="https://lh3.googleusercontent.com/KeAMS4NnHhjmUoN_5dFCgwRqAor_GkQYovBhP3Z1UKE6mM-BGmhw7L7N95T1gyU3idtgKnU4D72Xvu0EtlZZ60f74635j8mIZuPfjeh1tN3LgsGhq24RPpqhapn0LteU35DWI6IbPHDvyE-OdOP6RGkcHqU6zDOeem2D-caSSJEOZ5YPHScqQoluRyZbM76xdapbmqqmgbyhFSTU3pJUlFHAZ-wm7Qzq1-s13d1ZuTdkc35EZ772JyImyKmUrss5OenQMqNAfVtlz3sfymxNuuVb6as_bsUTfqH3NRvO2WI4HxIpGBZRcJGDZPvDgJJTs7Cc56xMJnOzUXnjv2NRjv5E2UjxSuIY7J-Qg6Bo-3aa8M-uL9M1kAotEAoGsCVWmSUS9l-uAUPL2bqY6ogCuOeybMg6DxneyyA1XB5Pql-x3aeT237jobiX3mUOdylhMfXSwwZFC9cpWVJXuXakK5S-YNCQpvQBx_hLkJYgB7MwR7cguGVq03Hg1Pn_j5KvTR1H9zxes3DUkh2hFwLpnN8j_9amm7TJ5xi_FxJQBXiWPv6MC4oe-K5_XtlSylZIxsM84mkOY5D2eN0UPi8yldnRBAW6vd9rbJ_KcAiALGggxJN6UxtVgpPvRkH994GK0GdeG6CY2HZviMroWS2UGcEQyh2Fl4-JpOLmpuywAKiqi6yGTJa0papBUEllhy4ggRjIL2-GfiJLUBjGY-iJRuQ=w1000-h209-no" alt="Trip-Up logo">
    </div>
    <div class="ui hidden divider"></div>
    
    <div class="ui hidden divider"></div>
    <div class="ui teal raised very padded text container segment">
        <h3 class="ui centered large header">The Ultimate Trip Planner</h3>
            <div class="ui clearing container segment">
                <span class="ui basic left floated segment"><p class="ui header">Have an account?</p></span>
                <a class="ui large right floated positive button" href='/login'>Login!</a>
            </div>
            <div class="ui clearing container segment">
                <span class="ui basic left floated segment"><p class="ui header">Or get started here!</p></span>
                <a class="ui large right floated teal button" href='/signup'>Sign Up!</a>
            </div>
    </div>
    </body>
</main>