<main class="ui basic segment">
    <div class="ui center aligned segment">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSYyaqA7m_Fl2BPJuwlUriNusbOp6FETGUBH5G56EQ0TpU4iFV-WA" alt="Trip-Up logo">
    </div>
    <div class="ui two column double stackable grid container">
        <section class="column">
            <div class="ui clearing raised segment">
                <div class="ui huge basic segment">
                    <h1 class="ui huge header">Trip-Up</h1>
                </div>
                <div class="ui basic segment">
                    <p class="ui header">Ultimate Trip Planning</p>
                </div>
            </div>
            <img class="ui huge rounded image" src="https://images.unsplash.com/photo-1459231978203-b7d0c47a2cb7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1349&q=80" alt="Family Hiking">
        </section>
        <section class="column">
            <div class="ui clearing segment">
                <span class="ui basic left floated segment"><p class="ui header">Have an account?</p></span>
                <a class="ui large right floated positive button" href='/login'>Login!</a>
            </div>
            <div class="ui clearing segment">
                <span class="ui basic left floated segment"><p class="ui header">Or get started here!</p></span>
                <a class="ui large right floated teal button" href='/signup'>Sign Up!</a>
            </div>
        </section>
    </div>
</main>