<main class="ui basic segment">
    <body id="welcome_body">
    <div id="welcome_banner" class="ui container segment">
        <img class="ui small centered image" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSYyaqA7m_Fl2BPJuwlUriNusbOp6FETGUBH5G56EQ0TpU4iFV-WA" alt="Trip-Up logo">
    </div>
    <div class="ui hidden section divider"></div>
    <div class="ui hidden section divider"></div>
    <div class="ui hidden section divider"></div>
    <div class="ui teal two column double stackable grid container">
        <section class="column">
            <div class="ui center aligned teal aligned clearing raised segment">
                <div class="ui huge basic segment">
                    <h1 class="ui huge header">Welcome to Trip-Up!</h1>
                </div>
                <div class="ui basic segment">
                    <p class="ui header">Ultimate Trip Planning</p>
                </div>
            </div>
        </section>
        <section class="column">
            <div class="ui teal clearing segment">
                <span class="ui basic left floated segment"><p class="ui header">Have an account?</p></span>
                <a class="ui large right floated positive button" href='/login'>Login!</a>
            </div>
            <div class="ui teal clearing segment">
                <span class="ui basic left floated segment"><p class="ui header">Or get started here!</p></span>
                <a class="ui large right floated teal button" href='/signup'>Sign Up!</a>
            </div>
        </section>
    </div>
    </body>
</main>